html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}
html, body{
  width: 100%;
  height: 100%;
}

body{
  background: #3a4965;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #484848;
}

.container{
  max-wdith: 1192px;
  padding: 23px;
}

.table{
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
  background: #fafafa;
  border-collapse: collapse;
}
.table tr{
  background: #f2f2f2;
}
.table tr:nth-child(even){
  background: #e3e3e3
}
.table tr:nth-child(2) td{
  padding: 10px 0;
}
.table tr.light{
  background: #fafafa;
}
.table td{
  /*border: 1px solid red;*/
  vertical-align: middle;
  text-transform: uppercase;
  text-align: center;
  padding: 30px 0;
  box-shadow: -1px 0px 4px -2px rgba(0, 0, 0, 0.27);
  font-size: 16px;
}
.first td{
  text-align: center;
  padding: 27px 72px;
}
.table td i{
  font-size: 24px;
}
.i-cell{
  display: flex;
  align-items: center;
  justify-content: center;
}
.i-cell i{
  padding-right: 13px;
}
.table tr td:first-child {
  text-align: center;
}
.table tr:nth-child(2) td{
  text-align: center;
  font-size: 60px;
  font-weight: 600;
}
.table tr:nth-child(2) td p{
  display: inline-block;
}
.table tr:nth-child(2) td p span{
  display: flex;

  font-size: 24px;
  font-weight: 600;
}
.table tr:nth-child(2) td p span:last-child{
  font-weight: 400;
  font-size: 18px;
}
.first td:nth-child(1) p{
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: bold;
}

.first td:nth-child(1) p span{
  font-size: 30px;
  font-weight: 600;
}
.first td:nth-child(2),
.first td:nth-child(3),
.first td:nth-child(4){
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  padding: 27px 72px;
}
.first td:nth-child(2){
  background: #89c331;
}
.first td:nth-child(3){
  background: #f04a56;
}
.first td:nth-child(4){
  background: #20807c;
}

.button-line td{
  background: #dddddd;
}
.button-line td:nth-child(2),
.button-line td:nth-child(4){
  background: #eeeeee;
}
.button-line td:nth-child(3){
  background: #f4f4f4;
}
.button-line td button{
  width: 192px;
  padding: 20px 0;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  background: #484848;
  cursor: pointer;
}
.button-line td button:hover{
  background: #9a9393;
}
.button-line td:nth-child(2) button{
  background: #89c331;
}
.button-line td:nth-child(2):hover button{
  background: #97e91a;
}
.button-line td:nth-child(3) button{
  background: #f04a56;
}
.button-line td:nth-child(3):hover button{
  background: #ff0012;
}
.button-line td:nth-child(4) button{
  background: #20807c;
}
.button-line td:nth-child(4):hover button{
  background: #1b1b78;
}



