html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:after, *:before{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  background: #fff;
  color: #5b6469;
  font-family: 'Open Sans', sans-serif;
}

.container{
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.block-head{
  text-transform: uppercase;
  color: #18b4cf;
  font-size: 27px;
  font-weight: 600;
  text-align: center;
}
/*HEADER*/
.header {
  background: #1d2124;
}
.header-top-line{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo a{
  display: inline-block;
  max-width: 170px;
  height: 70px;
}
.logo a img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.navigation{
  width: 700px;
}
.navigation-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation-list li a{
  color: #fff;
  text-decoration: none;
  text-transform: uppercase
}
.navigation-list li a:hover{
  text-decoration: underline;
}

.search{
  width: 68px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
.search:before{
  content: '';
  position: absolute;
  background: url('../img/shadow-bg.png');
  width: 100%;
  height: 100%;
  background-repeat: repeat;
}
/*HEADER*/

/*MAIN*/
.top-img{
  padding: 129px 0;
  position: relative;
  background: url("../img/header-bg.jpeg") no-repeat 0 0;
  width: 100%;
  height: 376px;
  background-attachment: fixed;
  background-position: bottom;
  -webkit-background-size: initial;
  background-size: initial;
}
.top-img:before{
  content: '';
  position: absolute;
  background: url("../img/shadow-bg.png");
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  top: 0;
  z-index: 0;
}
.slogan{
  font-size: 27px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 45px;
  position: relative;
  z-index: 1;
}
.button-line{
  display: flex;
  align-content: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.button-line-button{
  background: #89ca62;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 20px 0;
  font-size: 18px;
  font-weight: 500;
  width: 190px;
  cursor: pointer;
}
.button-line-button:first-child{
  margin-right: 20px;
}
.button-line-button:last-child{
  background: #14b9d5;
}

.most-head{
  padding: 61px 0 52px 0;
}
.posts-block{
  padding: 0 0 1px 0;
}
.post-line{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}
.post{
  background: #fff;
  display: inline-table;
  text-align: center;
  margin-bottom: 32px;
  /*-webkit-box-shadow: inset hoff voff blur #000;*/
  /*-moz-box-shadow: inset hoff voff blur #000;*/
  /*box-shadow: inset hoff voff blur #000;*/
}
.text-post{
  padding: 23px 0;
  font-size: 18px;
  font-weight: 600;
}
.post-line:nth-child(2){
  justify-content: flex-start;
  margin-bottom: 118px;
}
.post-line:nth-child(2) .post:nth-child(2){
  margin: 0 auto;
}
.post-line:nth-child(2) .post:first-child{
  position: absolute;
  left: 0;
  top: -121px;
}
.post-line:nth-child(2) .post:last-child{
  position: absolute;
  top: -92px;
  right: 0;
}

.most-popular-posts{
  background: #f2f2f2;
}
.popular-clients{
  padding: 200px;
  position: relative;
  background: url("../img/parallax-bg.jpeg") no-repeat 0 0;
  width: 100%;
  height: 587px;
  background-attachment: fixed;
  background-position: top;
  -webkit-background-size: initial;
  background-size: initial;
}
.popular-clients:after{
  content: '';
  position: absolute;
  background: url("../img/shadow-bg.png");
  background-repeat: repeat;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}
.popular-clients .container{
  position: relative;
  z-index: 1;
}
.popular-clients-head{
  text-align: center;
  text-transform: uppercase;
  font-size: 32px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 56px;
}
.popular-clients-line{
  width: 60px;
  margin: 0 auto;
  background: #169cb4;
  height: 2px;
  border: none;
  margin-bottom: 60px;
}
.popular-clients-list{
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  align-items: center;
}

.rated-head{
  /*margin: 64px 0 52px 0;*/
}
.rated-list{
  display: grid;
  grid-template-columns: repeat(7,1fr);
  width: 100%;
}
.rated-item img{
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.news-block{
  display: grid;
  grid-template-areas:
  "two-news two-news"
  "text-bottom text-bottom-2"
  "text-bottom-3 text-bottom-4"
  "two-news-bottom two-news-bottom"
;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr 1fr auto;
  grid-gap: 60px;

  margin-bottom: 70px;
}
.news{
  background: #f9f7f7;
  text-align: right;
}
.title-news{
  font-weight: 600;
  font-size: 18px;
  padding:0 0 16px 0;
}
.text{
  padding: 21px 28px 28px 28px;
  font-size: 14px;
}
.two-news{
  grid-area: two-news;

  display: flex;
  justify-content: space-between;
  background: #fff;
}
.two-news .first-news{
  display: flex;
  justify-content: flex-end;

  max-width: 857px;

  text-align: right;
  background: #f9f7f7;
}
.second-news{
  background: #f9f7f7;
  text-align: center;
}
.text-bottom{
  grid-area: text-bottom;
}
.text-bottom-2{
  grid-area: text-bottom-2;
}
.text-bottom-3{
  grid-area: text-bottom-3;
}
.text-bottom-4{
  grid-area: text-bottom-4;
}
.two-news-bottom{
  grid-area: two-news-bottom;

  display: flex;
  justify-content: space-between;
  background: #fff;
}
.two-news-bottom .second-news{
  max-width: 858px;

  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  text-align: left;

  background: #f9f7f7;
}

.two-news-bottom .second-news .text{
  padding-bottom: 0;
}

.two-news-bottom .first-news{
  text-align: center;
  background: #f9f7f7;
}




.footer{
  padding: 29px 0 25px 0;
  background: #1d2124;
}
.footer-block{
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.copiright {
  font-size: 13px;
  color: #fff;
}
.footer-logo{
  text-align: right;
}








