html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  background: url("../img/background-img.png") no-repeat 0 0;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  font-family: Verdana, Geneva, sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 1;
}

.container{
  max-width: 1065px;
  margin: 0 auto;
}
.header{
  margin-top: 49px;
}
.header .container{
  overflow: hidden;
}
.logo{
  max-width: 168px;
  float: left;
}
.logo a{
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  /*padding-left: 46px;*/
}
.logo a:hover{
  color: #f26522;
  padding-left: 48px;
}
.logo a img{
  width: 48px;
  height: 46px;
  object-fit: contain;
  float: left;
}
.logo a:hover img{
  display: none;
}
.logo a:after{
  content: '';
  position: absolute;
  background: url("../img/logo-icon-hover.png") no-repeat 0 0;
  width: 48px;
  height: 45px;
  -webkit-background-size: contain;
  background-size: contain;
  left: 0;
  top: 0;
  display: none;
}
.logo a:hover:after{
  display: block;
}
.logo a span{
  font-size: 29px;
  display: inline-block;
  font-weight: 600;
}
.logo a span:last-child{
  font-size: 18px;
}
.header-contacts{
  float: right;
  text-align: right;
}
.header-contacts p:first-child{
  margin-bottom: 5px;
}
.main{
  margin-top: 46px;
}

.photo-card-line{
  overflow: hidden;
  padding-bottom: 56px;
}

.card-item{
  float: left;
  max-width: 312px;
  position: relative;
  z-index: 9999;
}
.card-item:nth-child(2){
  margin: 0 65px;
}
.photo{
  /*margin-bottom: 22px;*/
  position: relative;
  border-left: 1px solid #3EC8AC;
  border-right: 1px solid #4E90A4;
  background-image: linear-gradient(to right, #3EC8AC 0%, #4E90A4 100%), linear-gradient(to right, #3EC8AC 0%, #4E90A4 100%);
}
.photo a{
  display: inline-block;
}
.photo a img{
  object-fit: cover;
}
.dash{
  display: none;
  position: absolute;
  bottom: -1px;
  left: -1px;
  width: 101%;
  background: #f26522;
  overflow: hidden;
  padding: 16px 21px;
  -webkit-animation: duration;
  -o-animation: duration;
  animation: duration;
  -webkit-animation-name: slide-dash;
  -moz-animation-name: slide-dash;
  -o-animation-name: slide-dash;
  animation-name: slide-dash;
  -webkit-animation-duration: .5s;
  -moz-animation-duration: .5s;
  -o-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
  -o-animation-direction: normal;
  animation-direction: normal;
  z-index: 0;
}
.price{
  font-size: 10px;
  float: left;
}
.price .sum{
  display: block;
  font-size: 20px;
  padding-top: 7px;
}
.photo:hover .dash{
  display: block;
}
.card-item:hover .description a{
  color: #f26522 ;
}

@keyframes slide-dash {
  0%{
    bottom: -50px;
  }
  100%{
    bottom: -1px;
  }
}
.link-more{
  float: right;
  margin-top: 19px;
}
.link-more a{
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  padding-right: 22px;
  position: relative;
}
.link-more a:after,
.link-more a:before{
  content: '';
  position: absolute;
  width: 7px;
  height: 1px;
  background: #fff;
  right: 0;
}
.link-more a:after{
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
  top: 5px;
}
.link-more a:before{
  -webkit-transform: rotate(325deg);
  -moz-transform: rotate(325deg);
  -ms-transform: rotate(325deg);
  -o-transform: rotate(325deg);
  transform: rotate(325deg);
  top: 9px;
}
.description{
  text-align: center;
  position: relative;
  z-index: 9999 ;
  padding-top: 22px;
}
.description a{
  text-decoration: none;
  color: #fff;
}
.description a:hover{
  color: #f26522;
}
.copyright{
  font-size: 14px;
  text-align: center;
  margin-bottom: 20px;
}
