body {
  height: 100%;
  background: #000;
  overflow: hidden;
}
.container {
  position: relative;
  display: flex;
  justify-content: center;
  height: 800px;
  width: 1200px;
  left: 10%;
  color: #feda4a;
  font-size: 78px;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 2;
  text-align: justify;
  perspective: 400px;
}

.animate-number {
  position: relative;
  top: 150%;
  transform-origin: 50% 100%;
  animation: transform-block 25s infinite;
}

.animate-number .title {
  font-size: 45px;
  text-align: center;
}
.title h1 {
  text-transform: uppercase;
  margin-bottom: 80px;
}

@keyframes transform-block {
  0% {
    top: -100px;
    transform: rotateX(20deg)  translateZ(0);
  }
  100% {
    top: -4500px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}
