html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:hover{
  transition-duration: 2s;
}
html{
  height: 100%;
}
body{
  background: url("../img/background.png") no-repeat 0 0;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  color: #434343; 
}

.container{
  max-width: 1210px;
  margin: 0 auto;
}

.header{
  background: url("../img/header-background.png");
  background-repeat: repeat;
  width: 100%;
  -webkit-background-size: contain;
  background-size: contain;
  color: #fff;
}

.header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.header-logo{
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
}
.header-logo a{
  text-decoration: none;
  color: #fff;
}
.header-logo a:hover{
  color: #3cb878;
}
.header-login{
  display: flex;
  align-items: center;
}
.sprites{
  border-right: 1px solid #31302e;
}
.sprite-ico{
  display: inline-block;
  width: 28px;
  height: 20px;
  margin-right: 25px;
  position: relative;
}
.sprite-ico:before{
  content: '';
  position: absolute;
  background: url("../img/header-ico-sprite.png") no-repeat 0 -24px;
  width: 28px;
  height: 20px;
  top: 0;
  left: 0;
  cursor: pointer;
}
.sprite-ico:nth-child(2):before{
  background: url("../img/header-ico-sprite.png") no-repeat -43px -23px;
}
.sprite-ico:nth-child(3):before{
  background: url("../img/header-ico-sprite.png") no-repeat -103px -23px;
}
.sprite-ico:hover:before{
  background: url("../img/header-ico-sprite.png") no-repeat 0 -2px;
}
.sprite-ico:nth-child(2):hover:before{
  background: url("../img/header-ico-sprite.png") no-repeat -43px -1px;
}
.sprite-ico:nth-child(3):hover:before{
  background: url("../img/header-ico-sprite.png") no-repeat -103px -1px;
}
.header-login-btn{
  padding-left: 25px;
  font-size: 14px;
}
.header-login-btn p a{
  color: #3cb878;
  text-decoration: none;
}
.header-login-btn p a:hover{
  text-decoration: underline;
}
.main{
  margin: auto 0;
}
.singup-form-wrapper{
  max-width: 444px;
  margin: 0 auto;
  background: #fff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  padding: 29px 60px;
}
.singup-line{
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 15px;
}
.singup-line:after{
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  background: #3cb878;
  top: 0;
  left: -60px;
}
.singup-line p{
  font-size: 20px
}
.singup-line p a{
  font-size: 14px;
  color: #3cb878;
  text-decoration: none;
}
.singup-line p a:hover{
  text-decoration: underline;
}
.social-btn-line{
  display: flex;
  justify-content: space-between;
  margin-bottom: 33px;
}
.social-btn{
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 13px 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.social-btn span{
  font-size: 16px;
}
.facebook-btn{
  background: #305db8;
}
.facebook-btn:hover{
  background: #264b96;
}
.facebook-btn img{
  width: 10px;
  height: 20px;
  display: inline-block;
  margin: 0 17px 0 20px;
}
.facebook-btn span{
  padding-left: 18px;
  padding-right: 18px;
  border-left: 1px solid #2b54a5;
}
.google-plus-ico{
  background: #df4a32;
}
.google-plus-ico:hover{
  background: #c3412c;
}
.google-plus-ico img{
  width: 25px;
  height: 16px;
  display: inline-block;
  margin: 0 9px 0 13px;
}
.google-plus-ico span{
  padding-left: 24px;
  padding-right: 30px;
  border-left: 1px solid #af3a28;
}
.or-line{
  text-align: center;
  font-size: 14px;
  color: #848484;
  position: relative;
  margin-bottom: 18px;
}
.or-line:after,
.or-line:before{
  content: '';
  position: absolute;
  width: 135px;
  height: 1px;
  background: #eaeaea;
  bottom: 6px;
  left: 0;
}
.or-line:before{
  left: 187px;
}
.main-form input[type='text'],
.main-form input[type='password']{
  width: 100%;
  font-size: 14px;
  color: #434343;
  display: inline-block;
  padding: 17px 18px;
  border: 1px solid #eaeaea;
  margin-bottom: 9px;
  outline: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.main-form input::placeholder{
  color: #bebebe;
}
.main-form input:focus{
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.2);
}
.checkbox{
  padding: 15px 0 25px 0;
}
.checkbox label{
  display: block;
  padding-left: 30px;
  cursor: pointer;
}
.checkbox label:before{
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  border: 1px solid #bebebe;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: transparent;
  z-index: 1;
}
.checkbox label:after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  opacity: 0;
}
.checkbox label a{
  color: #3cb878;
  text-decoration: none;
}
.checkbox label a:hover{
  text-decoration: underline;
}
.custom-check:not(:checked),
.custom-check:checked {
  position:absolute;
  left:-9999px;
}

.custom-check:not(:checked) + label,
.custom-check:checked + label{
  position:relative;
  padding-left:32px;
  cursor:pointer;
}

.custom-check:not(:checked) + label:before,
.custom-check:checked + label:before{
  content:'';
  position:absolute;
  left:0;
  top: -2px;
  height:20px;
  width:20px;
  border: 1px solid #ebebeb;
  border-radius:3px;
}

.custom-check:not(:checked) + label:after,
.custom-check:checked + label:after{
  content:'	\2714';
  position:absolute;
  top:1px;
  left:4px;
  width: 20px;
  font-size:16px;
  line-height:1;
  color:#3cb878;
  transition: all .2s;
}

.custom-check:not(:checked) + label:after{
  opacity:0;
}
.custom-check:checked + label:after{
  opacity:1;
}

.form-button{
  width: 100%;
  text-align: center;
  font-size: 16px;
  color: #fff;
  background: #3cb878;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 17px 0;
  cursor: pointer;
}
.form-button:hover{
  background: #329a65;
}
