html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*, *:after, *:before{
  box-sizing: border-box;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.head-section{
  font-size: 36px;
  color: #4e4e4e;
  text-align: center;
  margin-bottom: 37px;
}
.double-line{
  width: 88px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.double-line-item{
  width: 76px;
  height: 1px;
  background: #18cfab;
}
.double-line-item:first-child{
  margin-bottom: 3px;
  margin-right: 12px;
}
.double-line-item:last-child{
  margin-left: 12px;
}
.button{
  width: 100%;
  max-width: 165px;
  padding: 26px 0;
  text-align: center;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  background: #18cfab;
  font-weight: bold;
  border: none;
  border-top: 3px solid #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.header{
  background: url("../img/header_bg.png") no-repeat 0 0;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;

}

.logo-menu-line{
  background-color: rgba(73, 71, 63, .6);
}
.logo-menu-line .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu{
  position: relative;
}
.menu:after{
  content: '';
  position: absolute;
  background: url("../img/ico/search_ico.png") no-repeat 0 0;
  width: 22px;
  height: 22px;
  -webkit-background-size: contain;
  background-size: contain;
  right: -18px;
  top: 40%;
}
.list-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item-menu{
  margin-right: 21px;
  padding: 55px 0;
}
.item-menu a{
  text-decoration: none;
  color: #b2b2b2;
  text-transform: uppercase;
  font-weight: bold;
}
.item-menu.active{
  border-bottom: 1px solid #18cfab;
}
.item-menu.active a{
  color: #18cfab;
}

.header-central-block{
  padding: 243px 0;
  text-align: center;
}
.text-block{
  margin-bottom: 141px;
}
.header-h1{
  font-size: 35px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 46px;
}
.header-h1 .turquoise{
  color: #18cfab;
}
.header-h2{
  color: #fff;
  font-size: 79px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 36px;
}
.header-p{
  font-size: 34px;
  color: #d4d4d4;
}

.header-button{
  max-width: 361px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.header-button-item:nth-child(2){
  background: #00cbf6;
}

.advantages{
  display: flex;
  justify-content: space-between;
}
.advantages-item{
  width: 25%;
  padding: 88px 0 119px 0;
  background: #1c2a33;
  border-top: 7px solid #18cfab;
}
.advantages-content{
  text-align: center;
}
.advantages-content p{
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #18cfab;
}
.advantages-content .icon{
  margin-bottom: 48px;
}
.advantages-item:nth-child(2n){
  background: #18cfab;
  border-top: 7px solid #fff;
}
.advantages-item:nth-child(2n) .icon{
  margin-bottom: 65px;
}
.advantages-item:nth-child(2n) p{
  color: #fff;
}

.our-services{
  padding: 84px 0 106px 0;
}
.our-services .double-line{
  margin-bottom: 70px;
}
.our-services-menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ebebeb;
  margin-bottom: 25px;
}
.our-services-menu-item{
  width: 16.6666%;
  text-align: center;
  color: #7d7d7d;
  font-size: 16px;
  background: #f8fcfe;
  padding: 28px 0;
  border-right: 1px solid #ebebeb;
  cursor: pointer;
}
.our-services-menu-item:last-child{
  border-right: none;
}
.our-services-menu-item.tabs-active{
  background: #18cfab;
  color: #fff;
  position: relative;
}
.our-services-menu-item.tabs-active:after{
  content: '';
  position: absolute;
  background: url("../img/ico/tabs-active-arrow.png") no-repeat 0 0;
  width: 23px;
  height: 12px;
  -webkit-background-size: contain;
  background-size: contain;
  top: 99%;
  left: 45%;
}
.tabs-content-item[data-id='grap-design'],
.tabs-content-item[data-id='online-support'],
.tabs-content-item[data-id='app-designer'],
.tabs-content-item[data-id='online-marketing'],
.tabs-content-item[data-id='seo-service']
{
  display: none;
}
.tabs-content-wrap{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.tabs-content-wrap .tabs-img{
  width: 196px;
  height: 140px;
  margin-right: 22px;
}
.tabs-content-wrap .tabs-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tabs-content-text{
  width: 924px;
  font-size: 14px;
  line-height: 1.6;
}

.install-now{
  background: url("../img/install-bg.jpg") no-repeat 0 0;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.install-now:after{
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, .78);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}
.install-now .container{
  position: relative;
  padding: 129px 0;
  text-align: center;
  z-index: 10;
}
.install-now-head{
  font-size: 40px;
  color: #18cfab;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 35px;
}
.install-now-text{
  font-size: 16px;
  color: #d8d8d8;
  margin-bottom: 76px;
}

.amazing-work{
  padding: 99px 0;
  background: #f8fcfe;
  border-bottom: 1px solid #e1e1e1;
}
.amazing-work .double-line{
  margin-bottom: 69px;
}
.work-menu{
  max-width: 643px;
  margin: 0 auto 71px auto;
  border: 1px solid #ebebeb;
  display: flex;
  align-items: center;
  background: #fff;
  /*justify-content: space-between;*/
}
.work-menu-item{
  padding: 23px 19px;
  border-right: 1px solid #ebebeb;
  color: #848484;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}
.work-menu-item:last-child{
  border-right: none;
  padding: 23px 39px;
}
.work-menu-item:first-child{
  padding: 23px 29px;
}
.work-active{
  color: #18cfab;
  border-top: 2px solid #18cfab;
}
.work-photo-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 71px;
}
.work-photo-container > div{
  width: 25%;
  height: 207px;
  display: none;
}
.work-photo-container div img{
  width: 100%;
  height: 100%;
}
.static-block{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  border-top: 2px solid #18cfab;
}
.static-block .icon-container{
  display: flex;
  height: 40px;
  margin-bottom: 34px;
}
.static-block .icon-container img{
  width: 40px;
  height: 40px;
  margin-right: 5px;
  cursor: pointer;
}
.static-block .icon-container img:last-child{
  margin-right: 0;
}
.head-static{
  color: #18cfab;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 13px;
}
.static-text{
  color: #b6b8b8;
  font-size: 12px;
}
.work-button{
  display: inherit;
  border-top: none;
  margin: 0 auto;
  padding-left: 38px;
  position: relative;
  outline: none;
}
.work-button:after,
.work-button:before{
  content: "";
  position: absolute;
  width: 16px;
  height: 4px;
  background: #fff;
  top: 29px;
  left: 25px;
}
.work-button:before{
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.breaking-news{
  padding: 84px 0 133px 0;
}
.breaking-news .double-line{
  margin-bottom: 70px;
}
.breaking-news-content{
  display: flex;
  flex-wrap: wrap;
}
.breaking-news-item{
  width: 22%;
  margin-right: 28px;
  margin-bottom: 46px;
  cursor: pointer;
}
/*.breaking-news-item:nth-child(1),*/
/*.breaking-news-item:nth-child(5){*/
/*  margin-left: 28px;*/
/*}*/
.news-photo{
  width: 100%;
  height: 208px;
  background: url("../img/breaking-news/breaking-news-1.png") no-repeat 0 0;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.breaking-news-item:nth-child(2) .news-photo{
  background: url("../img/breaking-news/breaking-news-2.png") no-repeat 0 0;
}
.breaking-news-item:nth-child(3) .news-photo{
  background: url("../img/breaking-news/breaking-news-3.png") no-repeat 0 0;
}
.breaking-news-item:nth-child(4) .news-photo{
  background: url("../img/breaking-news/breaking-news-4.png") no-repeat 0 0;
}
.breaking-news-item:nth-child(5) .news-photo{
  background: url("../img/breaking-news/breaking-news-5.png") no-repeat 0 0;
}
.breaking-news-item:nth-child(6) .news-photo{
  background: url("../img/breaking-news/breaking-news-6.png") no-repeat 0 0;
}
.breaking-news-item:nth-child(7) .news-photo{
  background: url("../img/breaking-news/breaking-news-7.png") no-repeat 0 0;
}
.breaking-news-item:nth-child(8) .news-photo{
  background: url("../img/breaking-news/breaking-news-8.png") no-repeat 0 0;
}
.news-photo .news-date{
  position: absolute;
  right: 0;
  top: 0;
  width: 67px;
  height: 67px;
  background: #203e38;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.news-photo .news-date p{
  font-size: 16px;
  color: #fff;
}
.news-photo .news-date p:first-child{
  margin-bottom: 13px;
}
.breaking-news-about{
  border: 1px solid #f1f3f4;
  padding: 13px 0 9px 10px;
}
.news-title{
  color: #717171;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 18px;
}
.post-news{
  display: flex;
}
.post-news p{
  color: #777777;
  font-size: 14px;
}
.post-news p:first-child{
  border-right: 2px solid #abacad;
  padding-right: 17px;
  margin-right: 15px;
}
.breaking-news-item:hover .news-date{
  background: #18cfab;
}
.breaking-news-item:hover .news-title{
  color: #18cfab;
}

.say-about-ham{
  padding: 99px 0;
  background: url("../img/about-the-ham.jpg") no-repeat 0 0;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  /*background-position: 0 0;*/
}
.say-about-ham .head-section{
  color: #fff;
}
.say-about-ham .double-line{
  margin-bottom: 69px;
}
.say-about-quotes{
  margin-bottom:43px;
  text-align: center;
}
.more-info-item{
  text-align: center;
  margin-bottom: 54px;
}
.text-about-say{
  color: #fff;
  text-align: center;
  line-height: 1.5;
  font-size: 16px;
  margin-bottom: 43px;
}
.name-user{
  font-size: 16px;
  color: #18cfab;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 17px;
}
.profession-user{
  font-size: 13px;
  color: #bbbbbb;
  text-transform: uppercase;
  margin-bottom: 27px;
}
.big-photo-user{
  display: inline-block;
  margin: 0 auto;
  border: 10px solid rgba(31, 218, 181, .2);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.big-photo-user img{
  border: 4px solid #18cfab;
  border-radius: 50%;
}
.slider-photo{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.small-photo-block{
  display: flex;
  align-items: flex-end;
  margin: 0 28px;
  height: 79px;
}
.small-photo{
  border: 3px solid rgba(31, 218, 181, .2);
  border-radius: 50%;
  margin-right: 30px;
  height: 69px;
}
.small-photo:last-child{
  margin-right: 0;
}
.small-photo img{
  width: 100%;
  height: 100%;
}
.arrow{
  border: 1px solid #bbbbbb;
  padding: 8px 10px;
  cursor: pointer;
}
.arrow:last-child{
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.active-small{
  margin-bottom: 11px;
}
.active-small img{
  border: 2px solid #18cfab;
  border-radius: 50%;
}
